{% extends "base.html" %}

{% block content %}

    {% for entry in blog_entries|reverse %}
        <a href='/blog?id={{ entry.id }}'><h2>{{ entry.title }}</h2></a><p class='body'>{{ entry.body }}</p>

        {% for username in users %}
            {% if username.id == entry.owner_id %}
                <p class='author'>Written by <a class='author'
                                                href='/blog?user={{ username.username }}'>{{ username.username }}</a><br>{{ entry.post_date }}
                </p>
                <hr>
            {% endif %}
        {% endfor %}
    {% endfor %}

{% endblock %}